@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #333333;
  --color-blue: #0c2c43;
  --color-grey: #888;
  --color-subgrey: #666666;
  --color-darkgrey: #3f3f3f;
  --color-navyblue: #0c2c43;
  --color-lightblue: #f1faff;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-white;
}

/* Heading class */

.rich-text h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-grey);
}
.rich-text p {
  font-size: 16px;
  color: var(--color-subgrey);
}
h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-navyblue);
}
@media (min-width: 768px) {
  .rich-text h1 {
    font-size: 28px;
  }
  .rich-text p {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
}

/*  Sidebar css from shadcn UI */
@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* Base colors */
    --toast-bg: hsl(0 0% 100%);
    --toast-text: hsl(220 9% 20%);
    --toast-border: hsl(220 9% 90%);
    --radius: 0.5rem;

    /* Rich toast colors */
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 100%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 10%;

    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);

    /* Base colors */
    --toast-bg: hsl(0 0% 100%);
    --toast-text: hsl(220 9% 20%);
    --toast-border: hsl(220 9% 90%);
    --radius: 0.5rem;

    /* Rich toast colors */
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 100%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 10%;

    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;
  }
}

/* recharts styling */
.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none;
}

/* Hide the scrollable line display on the right side when we scroll a list */
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
